# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.eAukcija.WPF.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Amar\source\repos\eAukcija.WPF\.idea\.idea.eAukcija.WPF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
